
<!-- sticky footer tabs -->
<footer class="footer">
    <div class="container">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="#">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="#">
                        Blog
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>
            , made with <i class="material-icons">favorite</i> by
            <a href="$" target="_blank">Edu Yan</a> for a better web.
        </div>
    </div>
</footer>
<!-- sticky footer tabs ends -->

<!-- Modal -->